#Exercise
Class exercise to produce "*" x row number

In [3]:
for i in range(1,11):
  print(i*"*") #if you multiply a string by an int, it will concatenate the string int times

*
**
***
****
*****
******
*******
********
*********
**********

#1 Objectives

In [4]:
def shopping_list(apples,oranges,bananas,soup,bread,chocolate):
    print(apples)
    print(oranges)
    print(bananas)
    print(soup)
    print(bread)
    print(chocolate)
    return apples, oranges, bananas, soup, bread, chocolate

print (shopping_list) #im printing the function and it's returning it's memory address

shopping_list(apples=1.0,oranges='string',bananas='apple',soup=4,bread=5,chocolate=6)
# chose the wrong function for the task
# I wanted a container to store some values, but a function is the wrong way to do it
# instead I could use a tuple, list or dictionary

<function shopping_list at 0x78884130a290>
1.0
string
apple
4
5
6

(1.0, 'string', 'apple', 4, 5, 6)

Representing the shopping list as a `list` and writing a function to print it nicely

In [5]:
shopping_list = ['apples','oranges','bananas','soup','bread','chocolate']
 #print(shopping_list) #this works how I expected, but doesn't present how I wanted

def pretty_print_list(any_list):
  for i in any_list: #'for' loops through the list one element at a time, you always use i
    #print(i) #this will print i (the value of each list element) on its own line
    j=f"* {i}"
    print(j)
  return

pretty_print_list(any_list=shopping_list)

* apples
* oranges
* bananas
* soup
* bread
* chocolate

In [6]:
range(7)

range(0, 7)

In [7]:
x = range(7)
for i in x: #forloop
  print(i)

0
1
2
3
4
5
6

Using a `for` loop and the `range` function to fill an empty list via `append`

In [8]:
x=range(7) #range is a function, this example is a range between 0-7, x (variable) = that range
empty_list=[] #named a list and not put anything in it
print (empty_list) #print to check no elements
# wanted to extract values from range and add them to the empty list
for i in x: #created a for loop, that accesses the list in the range without modifying it
  empty_list.append(i) #built in list function 'append' adds (or appends) every element in range to empty_list
print (empty_list)

[]
[0, 1, 2, 3, 4, 5, 6]

In [9]:
shopping_basket=[] #defined an empty list called shopping basket
for supplies in shopping_list: #for loop to step through each element of shopping list (haven't used 'i' here as I find it confusing)
  shopping_basket.append(supplies) #taken that element and added (append) it to the shopping basket
  #print (shopping_basket) #need to lose the step here to combat the output printing adding one element at a time
print (shopping_basket) #like this

['apples', 'oranges', 'bananas', 'soup', 'bread', 'chocolate']

Below using `insert` built in function, I have added tea into the list in the 4th position

In [10]:
shopping_basket.insert(4,'tea') #insert
print (shopping_basket)

['apples', 'oranges', 'bananas', 'soup', 'tea', 'bread', 'chocolate']

Using `slice` I have taken a slice of the shopping basket within the given range, like taking a slice of a cake

In [11]:
print(shopping_basket[2:5]) #slice

['bananas', 'soup', 'tea']

###While loops from Lecture

In [12]:
a = 1
while a < 6: #while loop

  a += 3 #this is the same as a = a +3
  print(a) #after

4
7

Took some time to understand why 7 isn't printed in this example, a = 1, 3 is added after this is printed, and as it runs again 4 is printed as its less than 6, 3 is still added to the 4, but this means a=7 so will not print as it doesnt meet the conditions of the `while` loop anymore

In [13]:
a = 1
while a < 6: #while loop
  print(a) #before
  a += 3 #this is the same as a = a +3

1
4

###Range function

In [16]:
x = range (3,6) #if you add a number, it will list all the numbers before from zero, but if you add two numbers it will create a range
for y in x: #y is the element that 'picks up' the values within the given range
  print(y)

3
4
5

In [17]:
x = range(3, 8, 2) #adding a third number adds an increment
for n in x:
  print(n)

3
5
7

#2.1 Tuples, type evaluation and comparison

In [ ]:
print(type(("a",10.5)))

<class 'tuple'>

In [19]:
print(type((0)))

<class 'int'>

In [20]:
print(type((0,))) #notice when there is a comma but no other variable it is still a tuple

<class 'tuple'>

In [22]:
print(type(())) #empty tuple

<class 'tuple'>

In [24]:
print(type("hello"))

<class 'str'>

In [25]:
print(type(10.5))

<class 'float'>

In [26]:
import math
print(type(math.pi)==type(10.5))

True

In [27]:
print(type(10.5)==type(10.5))

True

In [28]:
print(type(10.5)==type("Hello"))

False

#2.2 Student Exercise

I decided to add an else that meant that the function could not be broken by adding a value that wasn't a `float` `int` or `str`

I also used the isinstance function for the logic as I found this to be a more concise and readable way to write my code

I could have used e.g type(x)==float

In [30]:
def square_number(x):
  if isinstance(x,str):
    print("Sorry Dave, I'm afraid I can't do that")
    return 0.0
  elif isinstance(x,(float,int)):
    return x**2
  else:
    print("This is neither a float, integer or string, please try again!")
    return -1.0 #-1.0 or -1 is sometimes used in python to express a 'not a number' value (nan)
'''
square_number(x=24)
square_number(x=24.4)
square_number(x="Hello!")
'''
square_number(x=[])

This is neither a float, integer or string, please try again!

-1.0

In [31]:
isinstance("Hello!",str)

True

In [32]:
type("hello") == str

True

#2.3 Lists
A list is an ordered collection of objects which we can change, surrounded by square brackets.

In [33]:
print(type([]))

<class 'list'>

In [34]:
print(type([2,4]))

<class 'list'>

In [35]:
print(type(['hello',10.5]))

<class 'list'>

#2.4 Manipulating a list

In [36]:
one=[2,3] #changed to 'one' from '1'
one.append(5)
print(one)

[2, 3, 5]

In [37]:
one.insert(0,1) #adds object to front of list
print(one)

[1, 2, 3, 5]

In [38]:
one.insert(2,4) #first number is place in the list, second is object
print(one)

[1, 2, 4, 3, 5]

In [39]:
print(one[1]) #prints index position, which always starts at 0

2

In [40]:
print(one[4]) #index position 4

5

#2.5 Measuring length, sorting and reversing a list

In [41]:
print(len(one)) #measures length of a sequence

5

In [42]:
print(len("this")) #measuring the characters in a string

4

In [43]:
print(len((0,))) #measures item in list

1

In [44]:
print(len((0,1,2,3))) #measures item in list

4

In [45]:
one.reverse() #reverse list

In [46]:
print(one)

[5, 3, 4, 2, 1]

In [47]:
one.sort() #goes up in numerical order
print(one)

[1, 2, 3, 4, 5]

In [48]:
del one[3] #this is a command, that removes an indexed item, and shifts higher indicies down by one
print(one)

[1, 2, 3, 5]

In [49]:
del one[1]
print(one)

[1, 3, 5]

# 2.6 Generating a list using the list() and range() function

In [ ]:
print(list(range(1,10))) #subtract the start parameter from the end parameter to get the length of a range

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(list(range(1,20,2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
print(list(range(3,20,3)))

[3, 6, 9, 12, 15, 18]

In [ ]:
print(list(range(20,0,-1))) #counting down - negative increment

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
print(list(range(20,0,-5)))#start, stop and step

[20, 15, 10, 5]

In [50]:
print(list(range(20,0,5))) #the first number is higher than the second and the step wasn't negative, this is called start stop and step

[]

#2.7 Slicing a list

In [ ]:
a=list(range(1,11))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(a[3:5])

[4, 5]

In [ ]:
print(a[:6]) #up to 6

[1, 2, 3, 4, 5, 6]

In [ ]:
print(a[6:]) #after 6

[7, 8, 9, 10]

In [51]:
print(a) #list hasn't changed permanently by the above actions

7

In [ ]:
b=a
c=a[:] #[:] gets every value in the list, into a new list, c is a brand new list but b = a
a.remove(3)
print(a)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(b)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#3 Repeating a block statements using a for loop

In [52]:
def timestable(x):
  for i in range(1,13):
    #print("%d times %d is %d" %(i,x,i*x)) - interpolation - I struggle with this, I find f strings easier to understand
    print(f"{i} times {x} is {i*x}") #f string
timestable (x=7) #calling the function with the argument x=7

1 times 7 is 7
2 times 7 is 14
3 times 7 is 21
4 times 7 is 28
5 times 7 is 35
6 times 7 is 42
7 times 7 is 49
8 times 7 is 56
9 times 7 is 63
10 times 7 is 70
11 times 7 is 77
12 times 7 is 84

#3.1

Changed to float as I wanted the code to work with any number including those with a decimal place

In [10]:
my_input = input("Please enter a number between 1 and 12 ")
my_input = float(my_input)
timestable(my_input)

Please enter a number between 1 and 12 12
1 times 12.0 is 12.0
2 times 12.0 is 24.0
3 times 12.0 is 36.0
4 times 12.0 is 48.0
5 times 12.0 is 60.0
6 times 12.0 is 72.0
7 times 12.0 is 84.0
8 times 12.0 is 96.0
9 times 12.0 is 108.0
10 times 12.0 is 120.0
11 times 12.0 is 132.0
12 times 12.0 is 144.0